# Tentacles compilation requirements
setuptools

# Drakkar-Software requirements
OctoBot-Commons>=1.5.1, <1.6

# async files management
aiofiles>=0.6.0, <0.7

# async http requests
aiohttp>=3.7.1, <3.8

# Templating requirements
jinja2>=2.11.2, <2.12

# artifact metadata
pyyaml>=5.3.1
